In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import StandardScaler

dataset=pd.read_csv('data1.csv')

data = pd.read_csv("data1.csv")

In [2]:
dataset.head()

,timestamp,act379,act13,act279,act323,act363,act302,latitude,longitude
0,28-02-2018 21:00,1,0,0,0,0,0,12.989627,80.248875
1,28-02-2018 21:15,1,0,0,0,0,0,13.066044,80.250384
2,28-02-2018 10:15,0,0,1,0,0,0,13.003150,80.269483
3,28-02-2018 10:15,0,0,1,0,0,0,12.998009,80.229343
4,28-02-2018 10:30,0,0,1,0,0,0,12.980512,80.218189

In [3]:
data['timestamp'] = pd.to_datetime(data['timestamp'], errors='coerce',dayfirst=True)

In [4]:
data['timestamp']

0      2018-02-28 21:00:00
1      2018-02-28 21:15:00
2      2018-02-28 10:15:00
3      2018-02-28 10:15:00
4      2018-02-28 10:30:00
               ...
2085   2018-03-07 03:50:00
2086   2018-03-07 21:10:00
2087   2018-03-07 12:10:00
2088   2018-03-07 10:35:00
2089   2018-03-07 23:45:00
Name: timestamp, Length: 2090, dtype: datetime64[ns]

In [5]:
# Assuming 'data' is your DataFrame containing the datetime column
column_1 = data.iloc[:, 0]

# Create a new DataFrame containing date and time components
db = pd.DataFrame({
    "year": column_1.dt.year,
    "month": column_1.dt.month,
    "day": column_1.dt.day,
    "hour": column_1.dt.hour,
    "dayofyear": column_1.dt.dayofyear,
    "week": column_1.dt.isocalendar().week,  # Using isocalendar().week
    "weekofyear": column_1.dt.isocalendar().week,  # Using isocalendar().week
    "dayofweek": column_1.dt.dayofweek,
    "weekday": column_1.dt.weekday,
    "quarter": column_1.dt.quarter
})

In [6]:
dataset1=dataset.drop('timestamp',axis=1)

In [7]:
data1=pd.concat([db,dataset1],axis=1)

In [8]:
data1.dropna(inplace=True)

In [9]:
data1.head()

,year,month,day,hour,dayofyear,week,weekofyear,dayofweek,weekday,quarter,act379,act13,act279,act323,act363,act302,latitude,longitude
0,2018.0,2.0,28.0,21.0,59.0,9,9,2.0,2.0,1.0,1,0,0,0,0,0,12.989627,80.248875
1,2018.0,2.0,28.0,21.0,59.0,9,9,2.0,2.0,1.0,1,0,0,0,0,0,13.066044,80.250384
2,2018.0,2.0,28.0,10.0,59.0,9,9,2.0,2.0,1.0,0,0,1,0,0,0,13.003150,80.269483
3,2018.0,2.0,28.0,10.0,59.0,9,9,2.0,2.0,1.0,0,0,1,0,0,0,12.998009,80.229343
4,2018.0,2.0,28.0,10.0,59.0,9,9,2.0,2.0,1.0,0,0,1,0,0,0,12.980512,80.218189

In [10]:
X=data1.iloc[:,[1,2,3,4,6,16,17]].values

In [11]:
X

array([[2.0, 28.0, 21.0, ..., 9, 12.989627, 80.248875],
       [2.0, 28.0, 21.0, ..., 9, 13.066044, 80.250384],
       [2.0, 28.0, 10.0, ..., 9, 13.00315, 80.269483],
       ...,
       [3.0, 7.0, 12.0, ..., 10, 13.087502, 80.277435],
       [3.0, 7.0, 10.0, ..., 10, 13.086332, 80.287183],
       [3.0, 7.0, 23.0, ..., 10, 13.088497, 80.278309]], dtype=object)

In [12]:
y=data1.iloc[:,[10,11,12,13,14,15]].values

In [13]:
y

array([[1, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       ...,
       [0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0, 0]], dtype=int64)

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=50)

In [15]:

model = RandomForestClassifier(n_estimators=100, random_state=42)

# Step 7: Train the Model
model.fit(X_train, y_train)

# Step 8: Evaluate the Model
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

# Optional: Hyperparameter Tuning (if needed)

# Step 9: Deployment (if needed)

Accuracy: 0.5748792270531401
Classification Report:
               precision    recall  f1-score   support

           0       0.72      0.49      0.58        86
           1       0.50      0.26      0.34        19
           2       0.76      0.66      0.71       147
           3       0.69      0.65      0.67       140
           4       0.27      0.16      0.20        19
           5       0.00      0.00      0.00         3

   micro avg       0.70      0.57      0.63       414
   macro avg       0.49      0.37      0.42       414
weighted avg       0.69      0.57      0.62       414
 samples avg       0.57      0.57      0.57       414

C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\ASUS\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in samples with no predicted labels. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))

In [16]:
# Input data
import numpy as np
input_values = [2.0, 28.0, 21.0, 59.0, 9, 22.737260, 75.875987]

# Convert input values to a numpy array
input_values = np.array(input_values).reshape(1, -1)

# Now, you can use your trained model to make predictions on this input data
y_pred_input = model.predict(input_values)
print("Predicted activities:", y_pred_input)

Predicted activities: [[0 0 0 1 0 0]]

In [17]:
import pickle

# Save the model
with open('Chennai City Model.pkl', 'wb') as f:
    pickle.dump(model, f)